---
import { Icon } from 'astro-icon/components';

export interface Props {
  value: string;
  label: string;
  trend?: string;
  icon?: string;
}

const { value, label, trend, icon } = Astro.props;
---

<div
  class="p-4 md:w-1/4 sm:w-1/2 w-full min-w-[220px] text-center md:border-r md:border-gray-200 md:last:border-none dark:md:border-slate-500 intersect-once motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade intersect-quarter"
>
  {
    icon && (
      <div class="flex items-center justify-center mx-auto mb-4 text-primary">
        <Icon name={icon} class="w-10 h-10" />
      </div>
    )
  }
  <div class="font-heading text-primary text-[2.6rem] font-bold dark:text-white lg:text-5xl xl:text-6xl">
    {value}
  </div>
  <div class="text-sm font-medium uppercase tracking-widest text-gray-800 dark:text-slate-400 lg:text-base">
    {label}
  </div>
  {trend && <div class="mt-1.5 text-xs text-muted dark:text-slate-500">{trend}</div>}
</div>
